html,
body,
#root,
.mainContainer {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: black;
  font-weight: 400;
  margin: 0;
}

li {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 18px;
  margin: 0;
}

label {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: black;
  font-size: 20px;
}

.home-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.home-name {
  font-family: "Great Vibes", cursive;
  color: #fce6ed;
  margin: 0px;
  font-size: 90px;
  margin-top: 50px;
  line-height: 50px;
  font-style: italic;
}

.home-border-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-border-container {
  margin: 30px 0px;
}

.home-border {
  margin: 0px;
  height: 4px;
  width: 20%;
  border: 1px solid #f5b3c1;
  border-right: none;
  border-left: none;
}

.home-title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  color: #fce6ed;
  margin: 0px;
  line-height: 100px;
  font-size: 118px;
  text-transform: uppercase;
}

.home-title-small {
  font-size: 50px;
  font-weight: 400;
}

.form-container {
  display: flex;
  width: 100%;
  margin-top: 36px;
  justify-content: center;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fce6ed;
  border-radius: 16px;
  padding: 50px;
  width: 60%;
  max-height: 70vh;
  margin-bottom: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 8px 8px rgba(51, 50, 50, 0.503);
  align-items: center;
}

.row {
  display: flex;
}

.margin-right {
  padding-left: -50px;
}

.input-registration {
  padding-left: -50px;
}

.infos-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.infos-wraper {
  display: flex;
  flex: 1;
  padding-bottom: 100px;
  flex-direction: column;
}

/* hide scrollbar for chrome, safari and opera */
.infos-container::-webkit-scrollbar {
  display: none;
}

.text-side-img {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.text-side {
  flex: 1;
  line-height: 30px;
}

.side-img {
  width: 35%;
  border-radius: 50%;
}

.left-side {
  margin-right: 50px;
}

.scrollview {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.informations-screen {
  display: flex;
  flex: 1;
  background-color: #fce6ed;
}

.tabs-container {
  padding: 0px 5%;
}

.infos-tabs-container {
  display: flex;
  flex: 1;
  padding: 0px;
}

.infos-tabs {
  display: flex;
  flex: 1;
  padding: 16px;
  position: relative;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  font-style: "italic";
  color: #c32f5d;
}

input {
  margin: 8px 4px 8px 4px;
  padding: 4px 4px 4px 4px;
}

label {
  margin-right: 8px;
}

.invit-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ebeef1;
  padding: 20px 30px;
  border-radius: 8px;
  margin: 15px 0;
  box-shadow: 3px 3px 10px #dfe3e7;
  align-items: center;
}

#trash-icon {
  position: absolute;
  top: 6px;
  right: 0px;
  background-color: transparent;
}

#add-guest-icon {
  display: flex;
  background-color: transparent;
  align-items: center;
}

#submit-btn-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

#submit-btn {
  padding: 8px;
  background-color: #c32f5d;
  border-radius: 10px;
  border: 4px solid #c32f5d;
  color: white;
}

.tab-list {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-list-container {
  display: flex;
}

.react-tabs__tab-list {
  color: #fce6ed;
  background-color: transparent;
  margin: 0 0 0 0;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(222, 222, 222, 0.15);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.react-tabs__tab {
  font-size: 20px;
  list-style: none;
  cursor: pointer;
  margin: 0 20px;
}

.react-tabs__tab--selected {
  border-bottom: 4px solid white;
}

/* .react-tabs__tab:focus {
  outline: none;
} */

/* .react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
} */

/* .react-tabs__tab-panel {
  display: none;
} */

.guests-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 25px 25px;
  background-color: white;
}

.react-tabs__tab-panel--selected {
  display: flex;
  flex: 1;
}

.listItems {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  padding: 0;
}

.resume-infos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-table {
  border: none;
}

table,
td {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: black;
  font-size: 20px;
  border: 1px solid #333;
  padding: 5px;
}

/* Form td style */
form.form table.form-table td {
  border: none;
}

div.presta-table table {
  border: none;
}

div.presta-table table td {
  border: none;
}

.presta-table {
  margin: 30px 0;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.presta-title {
  margin-right: 20px;
}

#burger-menu-icon {
  display: none;
}

.react-tabs {
  background: linear-gradient(
    0.9turn,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(222, 222, 222, 0.15);
  justify-content: space-between;
  align-items: center;
}

/* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 900px) {
  /* Burger MENU START */

  #burger-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .tab-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-closed-bm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-bar-container {
    border-bottom: 1px solid rgba(222, 222, 222, 0.15);
    padding: 16px;
    display: inline;
  }

  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: none;
    padding: 0px 20px;
  }

  .tab-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: -300px 0 0 0;
    transition: margin 0.3s;
  }

  .tab-list.is-open {
    margin: 0 0 0 0;
  }

  .react-tabs__tab {
    margin: 10px 0;
  }

  /* Burger MENU END  */

  p {
    font-size: 16px;
  }

  .home-name {
    font-size: 80px;
  }

  .home-text-container {
    padding: 30px 0;
  }

  .home-title {
    font-size: 100px;
  }

  .home-title-small {
    font-size: 40px;
  }

  .infos-tabs {
    font-size: 50px;
  }

  .text-side-img {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .img-first {
    flex-direction: column;
  }

  .side-img {
    width: 60%;
    border-radius: 50%;
    margin: 20px 0;
  }

  .text-side {
    margin: 0px;
  }

  .invit-card {
    padding: 20px 0px;
  }

  .invit-card-container {
    width: 100%;
  }

  .form {
    margin-bottom: 0;
    padding: 10px;
    width: 85%;
    align-items: flex-start;
    max-height: 80vh;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  label {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .home-name {
    font-size: 60px;
  }

  .home-title {
    font-size: 70px;
  }

  .home-title-small {
    font-size: 30px;
  }

  .infos-tabs {
    font-size: 30px;
    border: none;
  }

  .text-side-img {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .img-first {
    flex-direction: column;
  }

  .side-img {
    width: 90%;
    border-radius: 50%;
    margin: 20px 0;
  }

  .text-side {
    margin: 0px;
  }

  .form {
    margin-bottom: 0;
    padding: 10px;
    width: 85%;
    align-items: flex-start;
    max-height: 80vh;
  }

  .form-line {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
  }

  .invit-card {
    padding: 20px 0px;
  }

  .invit-card-container {
    width: 100%;
  }
}
